<div>
<!-- 	<a class="hiddenanchor" id="signup"></a> 
	<a class="hiddenanchor"	id="signin"></a> -->

	<div class="login_wrapper">
		<div id="register" class="animate form"> <!--  registration_form	登录页面隐藏的原因 -->
			<section class="login_content">
				<form>
					<h1>注&nbsp;&nbsp;&nbsp;&nbsp;册</h1>
					<div>
						<input name="userName" type="text" class="form-control" placeholder="Username"
							required="" />
					</div>
					<div>
						<input name="password" type="password" class="form-control" placeholder="Password" required="" />
					</div>
					<div>
						<a class="btn btn-default submit" href="javascript:void(0);" id="registerButton">注册</a>
					</div>

					<div class="clearfix"></div>
 
					<div class="separator">
						<p class="change_link">
							Already a member ? <a href="/account/login" class="to_register"> 登录 </a>
						</p>

						<div class="clearfix"></div>
						<br />

						<div>
							<h1>
								<i class="fa fa-paw"></i> ****信息交互式平台!
							</h1>
							<p>©2016 All Rights Reserved. MrSSS,This is a Bootstrap 3 template. Privacy and Terms</p>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		//alert("dcasfdasfas");
		$("#registerButton").bind("click",function(){
			//alert("sldkjfl");
			register();
		})
	});
	
	function register(){
		var user = {};
		user.userName = $("[name='userName']").val();
		user.password = $("[name='password']").val();
		$.ajax({
			url : "/account/user",
			type : "post",
			contentType : "application/json",
			data : JSON.stringify(user),
			success : function(data){
				if(data.status == 200){
					//location.href = "index";
				}else{
					layer.msg(data.message,{icon:0});
				}
			},
			error : function(data){
				layer.msg(data.responseText,{icon:0});
			}			
		});
	}
	
</script>